numpy
pandas
scipy
openbabel
scikit-learn
pytest # for unit test
sphinx # for generating docs
pymbar # for analyzer
physical_validation # for validate NPT ensemble
mdtraj # for debug NVT_SLAB phase equilibration
